<section class="container" id="admin-media-upload">
	<p>Upload multiple files by clicking the link below or by dragging and dropping images onto the dashed region</p>
	<input type="file" id="fileElem" multiple accept="image/*, video/*" hidden>
	<div class="progress-bar" id="progress-bar">
		<div class="progress" id="progress"></div>
	</div>
	<span id="fileSelect">Select some files</span>
	<div id="gallery"></div>
</section>
