@import "~bootstrap/scss/bootstrap";

@media (min-width: 768px) {
    #trends-carousel {
        height: 400px;

        .carousel-inner,
        .carousel-item,
        img,
        iframe {
            height: inherit;
        }

        img {
            object-fit: cover;
        }

        iframe {
            position: absolute;
            top: 0;
        }

        .carousel-item::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            background: linear-gradient(10deg, rgba(25, 25, 25, .8), transparent);
            width: 100%;
            height: 100%;
            z-index: 1;
        }

        .carousel-caption {
            margin-bottom: 5%;

            p {
                width: 80%;
                max-width: 600px;
            }
        }
    }
}
