@import "~bootstrap/scss/bootstrap";

#trends-carousel {
    max-width: 1200px;
    margin: auto;

    img {
        object-fit: cover;
    }

    .carousel-item::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(10deg, rgba(25, 25, 25, .8), transparent);
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    .carousel-item {
        padding-bottom: 41.8%;

        >img,
        >iframe {
            position: absolute;
            height: 100%;
        }
    }

    iframe {
        opacity: 0;
        transition: opacity 1.3s;
    }

    .carousel-caption {
        margin-bottom: 5%;

        p {
            width: 80%;
            max-width: 600px;
        }
    }
}

// MOVIES

.card-image {
    width: 100%;
    object-fit: cover;
    max-height: 220px;
    min-height: 220px;
}

.card {
    border: 0;
    box-shadow: 0 0 16px #33333340;
    padding: 20px;
}

.card-tag {
    padding: 3px 9px;
    color: white;
    background: darkblue;
    border-radius: 7px;
    font-size: 12px;
    vertical-align: middle;
    width: fit-content;
}

.card-date {
    color: #999;
    font-size: 0.8rem;
    font-weight: 300;
}

.card-text {
    font-weight: 300;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: "pierre";
    visibility: visible;
}

.card-title {
    min-height: 52px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
