<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Symfony blog
			{% endblock %}
		</title>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}

	</head>

	<body>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand mr-5" href="/">Symfony blog</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item mr-3">
						<a class="nav-link" href="/news">News</a>
					</li>
					<li class="nav-item mr-3">
						<a class="nav-link " href="/contact">Contact</a>
					</li>
					<li class="nav-item mr-3">
						<a class="nav-link" href="/movies">Movies</a>
					</li>
					{% if app.user %}
						<li class="nav-item mr-3">
							<a class="nav-link" href="/logout">Logout</a>
						</li>
						<li class="nav-item mr-3">
							<a class="nav-link" href="/account">My account</a>
						</li>
					{% else %}
						<li class="nav-item mr-3">
							<a class="nav-link" href="/login">Login</a>
						</li>

						<li class="nav-item mr-3">
							<a class="nav-link" href="/register">Register</a>
						</li>
					{% endif %}
				</ul>
				{% if app.user %}
					<div class="my-2 my-lg-0">
						<a href="/admin" class="btn btn-outline-success my-2 my-sm-0" type="submit">Admin</a>
					</div>
				{% endif %}
			</div>
		</nav>
		{% block body %}{% endblock %}
	</body>
</html>
