{% extends 'base.html.twig' %}

{% block body %}

    <main class="container">
        <section class="row">
            <div class="col-md-12 mt-5">
                intégration Pierre ici
            </div>
        </section>
    </main>

{% endblock %}
